@import "tailwindcss";

@theme {
  --font-outfit: 'Outfit', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
    background-color: #09090b; 
    color: #f4f4f5; 
}

.sticky-note {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.sticky-note:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5), 0 10px 10px -5px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.glass-panel {
    background: #18181b;
    border: 1px solid #27272a; 
}
